<h1 class="mb-5 mt-4">Todas las Tareas</h1>




<div *ngIf="tasks.length > 0; else noTasks">
  <table  class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Estado</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let task of tasks; let i  = index">
        <th scope="row">{{ i + 1 }}</th>
        <td> {{ task.titulo }} </td>
        <td> {{ task.descripcion }} </td>
        <td> {{ task.completada ? 'Completada' : 'Pendiente'}} </td>
        <td>
          <button class="btn btn-success btn-sm" (click)="activarFormularioEdicion(task)">
            Editar Tarea
          </button>
          
        </td>
      </tr>
    </tbody>

  </table>

</div>

<div *ngIf="editandoTarea" class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Editar Tarea</h5>

    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input id="titulo" type="text" [(ngModel)]="tituloEditado" class="form-control">
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea id="descripcion" [(ngModel)]="descripcionEditada" class="form-control" rows="3"></textarea>
    </div>

    <button class="btn btn-primary me-2" (click)="guardarEdicion()">Guardar Cambios</button>
    <button class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
  </div>
</div>



<ng-template #noTasks>
  <p>No hay tareas disponibles.</p>
</ng-template>